# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Logs
logs/
*.log

# Database files
*.db
*.sqlite

# Environment variables
.env
.venv/

# IDE specific files
.idea/
.vscode/

# Others
*.pyc
